body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/024/175/original/World_Map_Winkel-Tripel_Original-Map_02.jpg?1641310267);

  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}
h1 {
  color: #e0ffcd;
  font-family: "Shizuru", cursive;
  margin-top: 30px;
  font-weight: bolder;
}
a {
  color: #ffcab0;
}
.location {
  padding: 10px;
  margin-top: 35px;
}
#current-data {
  color: #ffebbb;
  font-family: "Josefin Sans", sans-serif;
  font-size: smaller;
  padding: 10px;
  margin-top: 20px;
  font-weight: bolder;
}
#current-weather {
  color: #ffebbb;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  margin-top: 20px;
  font-size: smaller;
  font-weight: bolder;
}
#your-location.container {
  color: #198754;
}
#weekdays {
  color: #ffcab0;
  margin-top: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  font-size: larger;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 75px;
  border: 0px solid;
  border-radius: 250px;
  color: #198754;
  backdrop-filter: blur(5px);
}
.graph {
  width: 100px;
}
